# Data Collection

In [1]:
!pip install python-twitter

Requirement already satisfied: python-twitter in /Applications/anaconda3/lib/python3.6/site-packages (3.5)
Requirement already satisfied: future in /Applications/anaconda3/lib/python3.6/site-packages (from python-twitter) (0.17.1)
Requirement already satisfied: requests-oauthlib in /Applications/anaconda3/lib/python3.6/site-packages (from python-twitter) (1.0.0)
Requirement already satisfied: requests in /Applications/anaconda3/lib/python3.6/site-packages (from python-twitter) (2.21.0)
Requirement already satisfied: oauthlib>=0.6.2 in /Applications/anaconda3/lib/python3.6/site-packages (from requests-oauthlib->python-twitter) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /Applications/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (2.8)

In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Applications/anaconda3/lib/python3.6/site-packages (2.7.6.1)

In [3]:
import twitter
import json
import time
import psycopg2 as pg2
import numpy as np
import pandas as pd

from datetime import datetime
from psycopg2.extras import RealDictCursor, Json

In [4]:
%run sql_test.py

In [5]:
IP_ADDRESS = '34.220.55.180'
DBNAME = 'postgres'
USER = 'postgres'
PASSWORD = 'foobar1'

## Configure Postgres Server with Docker

Define functions to programmatically connect to and insert data into database:
-  **con_cur_to_db**: returns both a connection and a cursor object for database
-  **execute_query**: executes query directly to database, without having to create a cursor and connection each time
-  **insert_entry_json**: inserts data into database

In [6]:
def con_cur_to_db(dbname=DBNAME, dict_cur=None):
    ''' 
    Returns both a connection and a cursor object for your database
    '''

    con = pg2.connect(host=IP_ADDRESS, #allows you to navigate db
                  dbname=dbname,
                  user=USER,
                  password=PASSWORD)
    if dict_cur:
        cur = con.cursor(cursor_factory=RealDictCursor)
    else:
        cur = con.cursor()
    return con, cur
    
def execute_query(query, dbname=DBNAME, dict_cur=None, command=False):
    '''
    Executes a query directly to a database, without having to create a cursor and connection each time. 
    '''
    con, cur = con_cur_to_db(dbname, dict_cur)
    cur.execute(f'{query}')
    if not command:
        data = cur.fetchall()
        con.close()
        return data
    con.commit() #sends to server
    con.close() #closes server connection

def insert_entry_json(data, tablename=None):
    con, cur = con_cur_to_db()
    for x in data:
        cur.execute(f'INSERT INTO {tablename} (data) VALUES ({Json(x)});')
    con.commit()
    con.close()

## Application Token

Define API keys and instantiate twitter API

In [7]:
twitter_keys = {
    'consumer_key':        'WuBAkr5TGQmgadzpHmOeSzPWk',
    'consumer_secret':     'pfim3bjV2X6ONw1Xf7qktrgLZ54gCZku7e2BcjT61Fz5SKCvUz',
    'access_token_key':    '1080999232427909120-pWDWD3VwbiYwlfCIo05cKCLXmKNooH',
    'access_token_secret': 'HYwBAbszupAT56B6giElUv2IVsNRBx5scB3LvdseFMOPP'
}

api = twitter.Api(consumer_key         =   twitter_keys['consumer_key'],
                  consumer_secret      =   twitter_keys['consumer_secret'],
                  access_token_key     =   twitter_keys['access_token_key'],
                  access_token_secret  =   twitter_keys['access_token_secret'],
)

In [8]:
print(api.VerifyCredentials())

{"created_at": "Fri Jan 04 01:27:55 +0000 2019", "default_profile": true, "default_profile_image": true, "geo_enabled": true, "id": 1080999232427909120, "id_str": "1080999232427909120", "lang": "en", "name": "connie", "profile_background_color": "F5F8FA", "profile_image_url": "http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png", "profile_image_url_https": "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png", "profile_link_color": "1DA1F2", "profile_sidebar_border_color": "C0DEED", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": true, "screen_name": "connie99418347"}

## Collect Tweets

Collect tweets and store into database:
-  `geocode`: specify geolocation within which to search for tweets
-  `terms`: terms to search by
-  `result_type`: type of results returned (mixed, recent or popular)
-  `since`: search for tweets since specified date
-  `count`: number of results returned (100 max)
-  `sql_db`: database to save tweets to

In [9]:
def streamTweets(geocode, result_type, since, count, sql_db='raw_tweets'):
    for i in range(1,8):
        year, month, day = since.split('-')
        day = int(day)
        day-=1
        day = str(day).zfill(2)
        date = year + month + day
        after = datetime.strptime(date, '%Y%m%d').strftime('%Y-%m-%d')
        
        results = api.GetSearch(
#             since = since,
#             terms = ['jt', 'justin timberlake', 'jtimberlake', 'justin', 'timberlake', 'concert', 'show', 'mirror', 'cry me a river',
#     'man of the woods', 'tour', 'music', 'PNC', 'welcome back', 'TN kids', 'tennessee kids']
            geocode = geocode,
            result_type = result_type,
            return_json = True
        )

        insert_entry_json(data = results['statuses'], 
                          tablename = sql_db)
        before = after

Define function to have `streamTweets` on a loop to programmatically collect tweets:
-  Repeat function 15 times, returning 100 (`count`) each time
-  Pause for 40 seconds to avoid exceeding rate limit

In [10]:
def tweet_repeater(geocode, result_type, since, repeats=15, count=100, sql_db='raw_tweets'):
    for i in range(repeats):
        since = since
        
        streamTweets(geocode, result_type, since, count, sql_db)
        print(f'Loop {i+1} complete. Raw tweets pushed to {sql_db}.')
        time.sleep(40)
        
    print('All tweets pulled.')

Collect most recent tweets:

|Location|Latitude|Longitude|Start Date|
|---|---|---|---|
|Charlotte, NC|35.227085|-80.843124|2019-01-08|
|Atlanta, GA|33.753746|-84.386330|2019-01-10|
|Memphis, TN|35.14953|-90.04898|2019-01-12|
|New Orleans, LA|29.951065|-90.071533|2019-01-15|
|Little Rock, AR|34.746483|-92.289597|2019-01-17|

-  within 10 mile radius of all locations
-  run function 100 times, collecting 700 tweets (1 week x 100 tweets) each time
-  save into `raw_tweets` database

tweet_repeater(geocode='35.227085,-80.843124,10mi', 
               result_type='recent',
               since='2019-01-08',
               repeats=100, 
               count=100, 
               sql_db='raw_tweets')

## Retrieve Data from PostgresSQL database

- retrieve text data
- retrieve geo coordinates data

In [11]:
query = """SELECT data ->> 'text'
FROM raw_tweets;
"""
response = execute_query(query, dict_cur=True)

df_text = pd.DataFrame(response)

In [12]:
query = """SELECT data#>'{place,bounding_box,coordinates}'
FROM raw_tweets;
"""
response = execute_query(query, dict_cur=True)

df_geo = pd.DataFrame(response)

In [13]:
df_text.shape

(168890, 1)

In [26]:
df_geo.shape

(26996, 3)

In [14]:
df_geo.head()

                                            ?column?
0                                               None
1                                               None
2                                               None
3  [[[-118.794237, 34.125821], [-118.715023, 34.1...
4                                               None

## bot_left, bot_right, top_right, top_left = test_list[0][0], test_list[0][1], test_list[0][2], test_list[0][3]

In [17]:
df_geo.isnull().sum()

?column?    141894
dtype: int64

In [18]:
df_geo.dropna(how = 'any', subset = ['?column?'], inplace = True)

In [19]:
latitude = []
longitude = []

for tweet in df_geo['?column?']:
    inside = tweet[0][1]
    outside = tweet[0][3]
    lat = (inside[0] + outside[0])/2
    long = (inside[1] + outside[1])/2
    latitude.append(lat)
    longitude.append(long)

In [20]:
df_geo['lat'] = latitude
df_geo['long'] = longitude

In [21]:
df_geo.shape

(26996, 3)

In [22]:
df_geo.head()

                                             ?column?         lat       long
3   [[[-118.794237, 34.125821], [-118.715023, 34.1... -118.754630  34.147078
15  [[[-118.668404, 33.704538], [-118.155409, 33.7... -118.411907  34.020789
26  [[[-118.794237, 34.125821], [-118.715023, 34.1... -118.754630  34.147078
34  [[[-118.794237, 34.125821], [-118.715023, 34.1... -118.754630  34.147078
43  [[[-118.668404, 33.704538], [-118.155409, 33.7... -118.411907  34.020789

In [23]:
df = pd.merge(df_text, df_geo[['lat', 'long']], left_index=True, right_index=True)

In [24]:
df.shape

(26996, 3)

In [25]:
df.nunique()

?column?    870
lat          49
long         50
dtype: int64

In [27]:
df.head()

                                             ?column?         lat       long
3   @Dizfreak7 @YouTube This is horrible.Cowboys a... -118.754630  34.147078
15  @lachel__ @xidek_ @xhnybeex @IiEat_She_Leaks @... -118.411907  34.020789
26  @Dizfreak7 @YouTube This is horrible.Cowboys a... -118.754630  34.147078
34  @Dizfreak7 @YouTube This is horrible.Cowboys a... -118.754630  34.147078
43  루커스 (LU:KUS) - FAKER Official M/V https://t.co... -118.411907  34.020789

In [28]:
df.drop_duplicates(keep='first', inplace=True)

In [30]:
df.shape

(870, 3)