In [ ]:
import pandas as pd

## Retrieve Data from PostgresSQL database

In [1]:
query = """SELECT data ->> 'text'
FROM raw_tweets;
"""
response = execute_query(query, dict_cur=True)

df_text = pd.DataFrame(response)

NameError: name 'execute_query' is not defined

- retrieve text from tweets

In [ ]:
query = """SELECT data#>'{place,bounding_box,coordinates}'
FROM raw_tweets;
"""
response = execute_query(query, dict_cur=True)

df_geo = pd.DataFrame(response)

- retrieve geo coordinates from tweets

In [ ]:
df_geo.dropna(how = 'any', subset = ['?column?'], inplace = True)

- drop tweets without coordinates from geo dataframe

In [ ]:
latitude = []
longitude = []

for tweet in df_geo['?column?']:
    inside = tweet[0][1]
    outside = tweet[0][3]
    lat = (inside[0] + outside[0])/2
    long = (inside[1] + outside[1])/2
    latitude.append(lat)
    longitude.append(long)

- take the average of the box coordinates

In [ ]:
df_geo['lat'] = latitude
df_geo['long'] = longitude

- add latitude and longitude to dataframe

In [ ]:
df = pd.merge(df_text, df_geo[['lat', 'long']], left_index=True, right_index=True)

- merge text dataframe and geo dataframe through the index

In [ ]:
df.drop_duplicates(keep='first', inplace=True)

- drop duplicate tweets